<ion-list style="background-color: white;">
  <ion-item-divider>
    <ion-label>
      Tipo de Universidad
    </ion-label>
  </ion-item-divider>
  <ion-item>
    <ion-label>pública</ion-label>
    <ion-checkbox slot="end"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Privada</ion-label>
    <ion-checkbox slot="end"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Ambas</ion-label>
    <ion-checkbox slot="end"></ion-checkbox>
  </ion-item>
</ion-list>

<ion-list style="background-color: white;">
  <ion-item-divider>
  <ion-label>
    Filtrar por
  </ion-label>
</ion-item-divider>
  <ion-item>
    <ion-label>Nombre Universidad</ion-label>
    <ion-checkbox slot="end"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Nombre Programa</ion-label>
    <ion-checkbox slot="end"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Ambas</ion-label>
    <ion-checkbox slot="end"></ion-checkbox>
  </ion-item>
</ion-list>