<ion-content class="ion-padding">

  <div style="font-size: 1.5em;
text-align: center;">
    Hemos enviado un correo de verificacion, confirmalo para poder ingresar a Unisearch
    
<br>
<br>

    <span style="font-size: 0.8em;">
      ¡ No olvides revisar el spam !
    </span>
  </div>
  <div style="display: flex;padding: 35px;">
    <img style="width: 40%; margin: auto;" src="../../assets/email.png" alt="">
  </div>

  <div class="container-form-btn" >
    <button class="form-btn custom-font" [routerLink]="['/home']" >
      Continuar
    </button>
  </div>
</ion-content>