
<!--

<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col size="10">
      <ion-searchbar animated></ion-searchbar> 
    </ion-col>
    <ion-col class="ion-align-self-center" size="2">
      <ion-button fill="clear" (click)="presentPopover()">
        <ion-icon slot="icon-only" color="dark" name="options-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>


  <ion-list>

    
    <ion-item *ngFor="let universidad of universidades"  
    [routerLink]="['/university-detail', universidad.id]"  
    >
      <ion-thumbnail slot="start">
        <img [src]="universidad.foto">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h3> {{universidad.nombrePrincipal}}  </h3>
        </ion-text>
        <p>SOBRE NOSOTROS</p>
        <ion-text color=".">
          <p>Paragraph line 2 secondary</p>
        </ion-text>
      </ion-label>
    </ion-item>

  </ion-list>

-->

<ion-header class="ion-no-border">
  <img src="assets/pokeball.png">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="presentPopover()">
        <ion-icon name="options-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="titles">
    <h4>
      Unisearch
    </h4>
    <ion-card-subtitle>
      Buscador de universidades
    </ion-card-subtitle>

    <ion-searchbar class="ion-no-padding ion-padding-top" placeholder="Buscar" [(ngModel)]="texto" (ngModelChange)="busqueda($event)"></ion-searchbar>
  </div>

</ion-header>

<ion-content fullscreen="true">
  <div class="ion-padding">

    <ion-card color="warning" *ngFor="let universidad of universidades"  [style.background-color]="universidad.color" (click)="open(universidad.foto, universidad.nombre, universidad.mision, universidad.vision)">
      <div class="mask">
        <img [src]="universidad.foto">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#001</ion-card-subtitle>
            <ion-card-title>{{universidad.nombre}}</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flash"></ion-icon>
                {{universidad.nombre}}
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img  [src]="universidad.logo"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <!--
    <ion-card color="primary">
      <div class="mask">
        <img src="assets/pokeball.png">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#002</ion-card-subtitle>
            <ion-card-title>Pokemon Name</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="water"></ion-icon>
                Water
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/02.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="success">
      <div class="mask">
        <img src="assets/pokeball.png">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#003</ion-card-subtitle>
            <ion-card-title>Pokemon Name</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="bug"></ion-icon>
                Grass
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/03.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    -->

  </div>
 

</ion-content>